/*
!/.gitignore
!/class_app.py
!/models.py
!/class_app.db
!/requirements.txt
!/models.py
!/test_transients.csv
!/transients.csv
!/utils.py
!/vlass_utils.py
!/wpd_datasets.csv
!/templates/
_pycache__/utils.cpython-312.pyc
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
static/cutouts/
static/light_curves/
