# Flask and extensions
Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF

# Marshmallow (optional, remove if not used)
Flask-Marshmallow

# Werkzeug and WTForms
Werkzeug
WTForms
email_validator

# Requests library for HTTP requests
requests

# Data processing libraries
pandas==3.0.0
numpy==2.4.1
openpyxl

# Plotting and visualization
matplotlib==3.10.8

# Astronomy specific libraries
astropy==7.2.0
penquins
ztfquery

# Web server
gunicorn

# Datalab
astro-datalab


flask-paginate
mpld3

mastcasjobs

celery
redis

cachetools
dash 
plotly
astroquery