# Flask and extensions
Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF

# Marshmallow (optional, remove if not used)
Flask-Marshmallow

# Werkzeug and WTForms
Werkzeug
WTForms
email_validator

# Requests library for HTTP requests
requests

# Data processing libraries
pandas
numpy
openpyxl

# Plotting and visualization
matplotlib

# Astronomy specific libraries
astropy
penquins
ztfquery

# Web server
gunicorn

# Datalab
astro-datalab


flask-paginate
mpld3

mastcasjobs