<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Transient Data</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    .shift-left {
    margin-left: -10px; 
    }
    /* Creates a container to split the page in two sections */
    .col-7-5 {
        flex: 0 0 62.5%; /* 7.5 out of 12 columns */
        max-width: 62.5%;
    }
    .col-4-5 {
        flex: 0 0 37.5%; /* 4.5 out of 12 columns */
        max-width: 37.5%;
    }
    .flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    }

    /* Items in the left section */
    .left-container {
        flex: 1;
    }

    /* Items in the right section */
    .right-container {
        margin-left: 20px;
    }

    /* Hides VLASS Images before button is clicked  */
    #image-section {
            display: none;
        }
    
    /* Creating consistent style for Classification/VLASS Buttons */
    .classification-buttons .btn,
    .vlass-button {
        margin-bottom: 25px;
        margin-right: 5px;
        margin-left: 15px;
    }
    
    /* Alligning Classify Text */
    .classify-text {
        margin-right: 5px;
        margin-left: 15px;
    }

    /* Formating for PS1 and LS Cutouts side by side */
    .cutout-images {
        display: flex;
        justify-content: space-between;
        align-items: right;
    }
    .cutout-images img {
        max-width: 45%;
        margin: 0px;
    }

    /* Formatting VLASS Images to be consistent */
    .vlass-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .vlass-images img {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        margin: 0px;
        object-fit: contain;
    }
    
    /* Add your custom button styles */
    .btn-outline-primary {
        --bs-btn-color: #007bff;
        --bs-btn-border-color: #007bff;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #007bff;
        --bs-btn-hover-border-color: #007bff;
        --bs-btn-focus-shadow-rgb: 38, 143, 255;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #007bff;
        --bs-btn-active-border-color: #007bff;
        --bs-btn-disabled-color: #007bff;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #007bff;
        --bs-gradient: none;
    }

    .btn-outline-secondary {
        --bs-btn-color: #6c757d;
        --bs-btn-border-color: #6c757d;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #6c757d;
        --bs-btn-hover-border-color: #6c757d;
        --bs-btn-focus-shadow-rgb: 130, 138, 145;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #545b62;
        --bs-btn-active-border-color: #545b62;
        --bs-btn-disabled-color: #6c757d;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #6c757d;
        --bs-gradient: none;
    }

    /* Add a custom 'selected' class */
    .btn.selected {
        background-color: var(--bs-btn-active-bg);
        border-color: var(--bs-btn-active-border-color);
        color: var(--bs-btn-active-color);
    }
    
    /* Custom media query to stack columns at 960px and below */
    /* @media screen and (min-width: 1400px) {
    
    } */

    iframe {
        border: none;
    }
    .position-relative {
    position: relative;
}

    /* Position the zoom buttons absolutely within the container */
    .zoom-buttons {
        position: absolute;
        bottom: 30px; /* Adjust as needed */
        right: 30px; /* Adjust as needed */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /* Ensure the zoom buttons are styled appropriately */
    .zoom-buttons .btn {
        padding: 2px 5px; /* Adjust padding to decrease height */
        font-size: 12px; /* Adjust font size to make the button smaller */
        height: auto; /* Ensure the height is auto-adjusted */
        border-radius: 4px; /* Adjust border radius if needed */
        margin-bottom: 5px; /* Adjust spacing between the buttons */
        width: 100px; /* Set a specific width for the buttons */
        background: white;
    }
</style>

<body>
    {% include 'navbar.html' %}
    <!-- Container for Pop-ups/Alerts -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container mt-4">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>

    <!-- Main content container -->
    <div class="container-fluid">
        <!-- Left section with primary data and Light Curve -->
        <div class="row">
                <!-- Location -->
                <div class="col-lg-8">
                    <p></p>
                    <!-- Name -->
                    <h1>{{ source_id }}</h1>
                    <p><div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-secondary" href="https://fritz.science/source/{{ source_id }}" target="_blank">Fritz</a>
                        <a class="btn btn-outline-secondary" href="https://alerce.online/object/{{ source_id }}" target="_blank">Alerce</a>
                        <a class="btn btn-outline-secondary" href="https://lasair-ztf.lsst.ac.uk/objects/{{ source_id }}" target="_blank">Lasair</a>
                    </div></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Info</button>
                        </li>
                        {% if min_drb is not none and max_drb is not none and med_drb is not none and avg_drb is not none %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="DRB-tab" data-bs-toggle="tab" data-bs-target="#DRB" type="button" role="tab" aria-controls="DRB-tab-pane" aria-selected="false">DRB</button>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <p></p>
                        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
                            <p><strong>RA:</strong> {{ ra }}</p>
                            <p><strong>Dec:</strong> {{ dec }}</p>
                            <p><strong>Scatter Separation:</strong> {{ scat_sep|round(4) }}</p>
                            <p><strong>Galactic (l, b):</strong> {{ galactic_l|round(4) }}, {{ galactic_b|round(4) }}</p>
                            <p><strong>Time from first to last detection:</strong> {{ span|round(4) }} days</p>
                        </div>
                        {% if min_drb is not none and max_drb is not none and med_drb is not none and avg_drb is not none %}
                        <div class="tab-pane fade" id="DRB" role="tabpanel" aria-labelledby="DRB-tab" tabindex="0">
                            <p><strong>Min:</strong> {{ min_drb|round(4) }}</p>
                            <p><strong>Max:</strong> {{ max_drb|round(4) }}</p>
                            <p><strong>Median:</strong> {{ med_drb|round(4) }}</p>
                            <p><strong>Average:</strong> {{ avg_drb|round(4) }}</p>
                        </div>
                        {% endif %}
                    </div>
                    
                    <!-- Cutouts from ZTF -->
                    {% if ztf_cutout %}
                    <ul class="nav nav-tabs" id="plotTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first" type="button" role="tab" aria-controls="first-tab-pane" aria-selected="true">First</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="last-tab" data-bs-toggle="tab" data-bs-target="#last" type="button" role="tab" aria-controls="last-tab-pane" aria-selected="false">Last</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="median-tab" data-bs-toggle="tab" data-bs-target="#median" type="button" role="tab" aria-controls="median-tab-pane" aria-selected="false">Median</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="sn-tab" data-bs-toggle="tab" data-bs-target="#sn" type="button" role="tab" aria-controls="sn-tab-pane" aria-selected="false">Highest S/N</button>
                        </li>
                        {% if min_drb is not none and max_drb is not none and med_drb is not none and avg_drb is not none %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="highdrb-tab" data-bs-toggle="tab" data-bs-target="#highdrb" type="button" role="tab" aria-controls="highdrb-tab-pane" aria-selected="false">Highest DRB</button>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content" id="cutoutTabsContent">
                        <p></p>
                        <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab" tabindex="0">
                            <img id="ztf-image" src="{{ url_for('static', filename='cutouts/' + ztf_cutout[0]) }}" alt="ZTF Cutout for {{ source_id }}" style="width:65%" class="img">
                        </div>
                        <div class="tab-pane fade" id="last" role="tabpanel" aria-labelledby="last-tab" tabindex="0">
                            <img id="ztf-image" src="{{ url_for('static', filename='cutouts/' + ztf_cutout[1]) }}" alt="ZTF Cutout for {{ source_id }}" style="width:65%" class="img">
                        </div>
                        <div class="tab-pane fade" id="median" role="tabpanel" aria-labelledby="median-tab" tabindex="0">
                            <img id="ztf-image" src="{{ url_for('static', filename='cutouts/' + ztf_cutout[2]) }}" alt="ZTF Cutout for {{ source_id }}" style="width:65%" class="img">
                        </div>
                        <div class="tab-pane fade" id="sn" role="tabpanel" aria-labelledby="sn-tab" tabindex="0">
                            <img id="ztf-image" src="{{ url_for('static', filename='cutouts/' + ztf_cutout[3]) }}" alt="ZTF Cutout for {{ source_id }}" style="width:65%" class="img">
                        </div>
                        {% if min_drb is not none and max_drb is not none and med_drb is not none and avg_drb is not none %}
                        <div class="tab-pane fade" id="highdrb" role="tabpanel" aria-labelledby="highdrb-tab" tabindex="0">
                            <img id="ztf-image" src="{{ url_for('static', filename='cutouts/' + ztf_cutout[4]) }}" alt="ZTF Cutout for {{ source_id }}" style="width:65%" class="img">
                        </div>
                        {% endif %}
                    {% endif %}
                    </div> 
                    <!-- Buttons to Switch ZTF Cutouts -->
                    <!-- <div class="btn-group-vertical mt-2 justify-content-center" role="toolbar" aria-label="ZTF Image Switcher">
                        {% for i in range(1, 4) %}
                            <button id="btn-ztf{{ i }}" class="btn btn-outline-secondary btn-ztf" onclick="switchZTFImage('ztf{{ i }}')">Alert {{ i }}</button>
                        {% endfor %}
                    </div> -->
                </div>
                        
                
                <div class="col-lg-4">
                    <!-- Current Classification -->
                    <p></p>
                    <h3>Current Classification</h3>
                    {% if most_confident_classification %}
                    <p><strong>{{ most_confident_classification }}</strong> by {{ classified_by_users | length }} users.</p>
                    {% else %}
                    <p>No classifications yet.</p>
                    {% endif %}
                    <div class="text-center">
                        {% if ps1_cutout %}
                            <img id="main-image" src="{{ url_for('static', filename='cutouts/' + ps1_cutout) }}" alt="PS1 Cutout for {{ source_id }}" class="img-thumbnail" style="max-width: 100%; height: auto;">
                        {% elif ls_cutout %}
                            <img id="main-image" src="{{ url_for('static', filename='cutouts/' + ls_cutout) }}" alt="LS Cutout for {{ source_id }}" class="img-thumbnail" style="max-width: 100%; height: auto;">
                        {% else %}
                        <p>No Image</p>
                        {% endif %}

                    </div>
                    <!-- Buttons to Switch Image -->
                    <div class="btn-toolbar mt-2 justify-content-center" role="toolbar" aria-label="Image Switcher">
                        <div class="btn-group mb-2 me-2" role="group" aria-label="Image Source">
                            <button id="btn-ls" class="btn {% if ls_cutout %}btn-outline-secondary{% else %}btn-secondary{% endif %}" onclick="switchImage('ls')">LS</button>
                            <button id="btn-ps1" class="btn {% if ps1_cutout %}btn-secondary{% else %}btn-outline-secondary{% endif %}" onclick="switchImage('ps1')">PS1</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <br>    
                <!-- Light Curve Plot -->
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-7-5">
                        <ul class="nav nav-tabs" id="plotTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="lc-tab" data-bs-toggle="tab" data-bs-target="#lc" type="button" role="tab" aria-controls="lc-tab-pane" aria-selected="true">Photometry</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="xmatch-tab" data-bs-toggle="tab" data-bs-target="#xmatch" type="button" role="tab" aria-controls="xmatch-tab-pane" aria-selected="false">Cross Match</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="wise-tab" data-bs-toggle="tab" data-bs-target="#wise" type="button" role="tab" aria-controls="wise-tab-pane" aria-selected="false">WISE</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="plotTabsContent">
                            <p></p>
                            <div class="tab-pane fade show active" id="lc" role="tabpanel" aria-labelledby="lc-tab" tabindex="0">
                                <div class="position-relative">
                                    <iframe id="light-curve-small" src="{{ url_for('static', filename='light_curves/' + plot_filename.split('/')[-1]) }}" width="90%" height="520" style="border: 0px solid black"></iframe>
                                    <iframe id="light-curve-large" src="{{ url_for('static', filename='light_curves/' + plot_big_filename.split('/')[-1]) }}" width="100%" height="620" style="display: none; border: 0px solid black"></iframe>
                                    <div class="zoom-buttons">
                                        <button id="detections" class="btn btn-outline-primary">Detections Span</button>
                                        <button id="all" class="btn btn-outline-primary">All</button>
                                    </div>
                                </div>  
                            </div>
                            <div class="tab-pane fade" id="xmatch" role="tabpanel" aria-labelledby="xmatch-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-7">
                                        <iframe id="polar-plot-small" src="{{ url_for('static', filename='light_curves/' + polar_plot.split('/')[-1]) }}" width="100%" height="520"></iframe>
                                        <iframe id="polar-plot-large" src="{{ url_for('static', filename='light_curves/' + polar_big_plot.split('/')[-1]) }}" width="100%" height="620"></iframe>
                                    </div>
                                    <div class="col-5">
                                        <div class="container-fluid" style="margin-top: 50px">
                                            <!-- SDSS Data -->
                                            {% if sdss_data %}
                                            <p><strong>SDSS (10 arcsec):</strong> Found SDSS spec-z: z={{ sdss_data.ssmagnr|round(2) }}; peak abs mag = {{ sdss_data.ssdistnr|round(2) }}</p>
                                            {% else %}
                                            <p><strong>SDSS (10 arcsec):</strong> No data found</p>
                                            {% endif %}
                                            <!-- Legacy Survey Data-->
                                            {% if legacy_survey_data.empty %}
                                            <p><strong>LegacySurvey:</strong> 0 sources in 3 arcsec</p>
                                            {% else %}
                                            {% set closest = legacy_survey_data.iloc[0] %}
                                            <p><strong>LegacySurvey:</strong> {{ legacy_survey_data.shape[0] }} sources in 3 arcsec</p>
                                            <p>Closest: d = {{ closest.sep_arcsec|round(2) }} arcsec, {{ closest.pa_degree|round(1) }} deg (east of north)</p>
                                            <p>photoz={{ closest.z_phot_median|round(2) }} (68% bounds {{ closest.z_phot_l68|round(2) }}, {{ closest.z_phot_u68|round(2) }}), type={{ closest.type }}</p>
                                            {% endif %}
                                                <!-- PS1 Data -->
                                                {% if not pan_starrs_df.empty %}
                                                <p><strong>PS1:</strong> {{ pan_starrs_df.shape[0] }} source{{ pan_starrs_df.shape[0] > 1 and 's' or '' }} in 3 arcsec</p>
                                                {% for index, row in pan_starrs_df.iterrows() %}
                                                    <p>Source {{ loop.index }}: d = {{ row.distpsnr1|round(2) }} arcsec, sgscore1={{ row.sgscore1 }}</p>
                                                {% endfor %}
                                            {% else %}
                                                <p><strong>PS1:</strong> No data found</p>
                                            {% endif %}
                                        </div>
                                        <div class="btn-toolbar mt-2 " role="toolbar" aria-label="Zoom Controls" style="margin-left: 15px" >
                                            <button id="zoom-in" class="btn btn-outline-primary">2x2</button>
                                            <button id="zoom-out" class="btn btn-outline-primary">10x10</button>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="tab-pane fade show" id="wise" role="tabpanel" aria-labelledby="wise-tab" tabindex="0">
                                {% if wise_plot %}
                                    <iframe id="wise-plot" src="{{ url_for('static', filename='wise_plots/' + wise_plot.split('/')[-1]) }}" width="100%" height="620"></iframe>
                                {% else %}
                                <p>No WISE Data</p>
                                {% endif %}
                            </div>
                        </div>

                        
                    </div>
                    <div class="col-4-5">
                        <br/><br/>
                        <!-- Form for setting the classification for each transient -->
                        <form method="post" action="{{ url_for('classify', source_id=source_id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="classification" id="classification">
                            <input type="hidden" name="confidence" id="confidence">  
                                
                                <div class="classify-text">
                                    <h3>Classify</h3>
                                </div> 
                        
                                <!-- Transient Classification buttons -->
                                <div class="btn-toolbar justify-content-between container-fluid" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="input-group">
                                        <div class="btn-group mb-2 me-2" role="group" aria-label="First group">
                                            <button type="button" onclick="setClassification(this, 'SN')" class="btn btn-outline-primary" title="Extragalactic transient">SN</button>
                                            <button type="button" onclick="setClassification(this, 'AGN')" class="btn btn-outline-primary" title="Active nucleus">AGN</button>
                                            <button type="button" onclick="setClassification(this, 'CV')" class="btn btn-outline-primary" title="Cataclysmic variable star">CV</button>
                                            <button type="button" onclick="setClassification(this, 'Rock')" class="btn btn-outline-primary" title="Minor planet/moon">Rock</button>
                                            <button type="button" onclick="setClassification(this, 'Fast')" class="btn btn-outline-primary" title="Very fast candidate transient">Fast</button>
                                            <button type="button" onclick="setClassification(this, 'Slow')" class="btn btn-outline-primary" title="Very slow candidate transient">Slow</button>
                                            <button type="button" onclick="setBold(this)" data-toggle="collapse" data-target="#other-types" class="btn btn-outline-primary">Other</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Other Buttons -->
                                <div class="collapse" id="other-types">
                                    <div class="dropdown container-fluid">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Other Types
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Star: bad subtraction')">Star: bad subtraction</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Star: high proper motion')">Star: high proper motion</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Star: slow variable')">Star: slow variable</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Star: rapid/erratic variable')">Star: rapid/erratic variable</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'QSO')">QSO</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Nucleus: bad subtraction')">Nucleus: bad subtraction</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Other: bad subtraction')">Other: bad subtraction</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Hot pixel')">Hot pixel</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Cosmic ray')">Cosmic ray</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Reference artifact')">Reference artifact</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Reflection/ghost')">Reflection/ghost</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Artificial satellite')">Artificial satellite</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Composite')">Composite</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Other artifact')">Other artifact</button></li>
                                            <li><button class="dropdown-item" type="button" onclick="setClassification(this, 'Unclear')">Unclear</button></li>
                                        </ul>
                                    </div>
                                </div>
                        
                                <!-- Confidence Level Buttons -->
                                <div class="btn-toolbar justify-content-between container-fluid mt-3" role="toolbar" aria-label="Confidence levels">
                                    <div class="d-flex align-items-center w-100">
                                        <div class="btn-group mb-2 me-2" role="group" aria-label="Confidence levels">
                                            <button type="button" onclick="setConfidence(this, 'Not confident')" class="btn btn-outline-secondary">Not confident</button>
                                            <button type="button" onclick="setConfidence(this, 'Confident')" class="btn btn-outline-secondary">Confident</button>
                                            <button type="button" onclick="setConfidence(this, 'Certain')" class="btn btn-outline-secondary">Certain</button>
                                        </div>
                                        <div class="ms-auto" style="margin-left: 20px; margin-top: -8px;">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="btn-toolbar container-fluid mt-3" role="toolbar" style="margin-left: -35px">
                                <div class = "vlass-button"></div>
                                    <div>
                                        <form method="POST" action="{{ url_for('retrieve_vlass_data', source_id=source_id) }}">
                                            <button type="submit" class="btn btn-outline-danger vlass-button">Fetch VLASS Data</button>
                                        </form>
                                    </div>
                                <button id="toggle-images" class="btn btn-outline-info vlass-button">Show VLASS Images</button>
                            </div>
                        </div>
                    </div>
                </div>
       
            
            <div id="image-section" class="vlass-images">
                {% for image in vlass_images %}
                    <img src="{{ url_for('static', filename=image) }}" alt="VLASS Image for {{ source_id }}" class="img-thumbnail">
                {% endfor %}
            </div>
            
    </div>
    
    
    
    


    <!-- Bootstrap JS, Popper.js, and jQuery -->    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script> 
        // Scripts for setting classifications/confidence levels 
        function setClassification(button, value) {
            document.getElementById('classification').value = value;
            // Remove 'selected' class from all classification buttons
            document.querySelectorAll('.btn-outline-primary').forEach(btn => btn.classList.remove('selected'));
            // Add 'selected' class to the clicked button
            button.classList.add('selected');
        }

        function setBold(button) {
            // Remove 'selected' class from all classification buttons
            document.querySelectorAll('.btn-outline-primary').forEach(btn => btn.classList.remove('selected'));
            // Add 'selected' class to the clicked button
            button.classList.add('selected');
        }

        function setConfidence(button, value) {
            document.getElementById('confidence').value = value;
            // Remove 'selected' class from all confidence buttons
            document.querySelectorAll('.btn-outline-secondary').forEach(btn => btn.classList.remove('selected'));
            // Add 'selected' class to the clicked button
            button.classList.add('selected');
        }

    
        // function setSubtype(value) {
        //     const classification = document.getElementById('classification').value;
        //     document.getElementById('classification').value = classification + ' ' + value;
        // }


        // Logic for revealing and hiding VLASS Images 
        document.getElementById('toggle-images').addEventListener('click', function() {
            var imageSection = document.getElementById('image-section');
            if (imageSection.style.display === 'none') {
                imageSection.style.display = 'block';
                this.textContent = 'Hide VLASS Images';
            } else {
                imageSection.style.display = 'none';
                this.textContent = 'Show VLASS Images';
            }
        });

        function switchImage(source) {
            var imgElement = document.getElementById('main-image');
            var btnLs = document.getElementById('btn-ls');
            var btnPs1 = document.getElementById('btn-ps1');
            var ls_cutout = "{{ ls_cutout | default('') }}";

            if (source === 'ls' && '{{ ls_cutout }}') {
                imgElement.src = "{{ url_for('static', filename='cutouts/' + ls_cutout) }}";
                imgElement.alt = 'LS Cutout for {{ source_id }}';
                btnLs.classList.add('btn-secondary');
                btnLs.classList.remove('btn-outline-secondary');
                btnPs1.classList.add('btn-outline-secondary');
                btnPs1.classList.remove('btn-secondary');
            } else if (source === 'ps1' && '{{ ps1_cutout }}') {
                imgElement.src = "{{ url_for('static', filename='cutouts/' + ps1_cutout) }}";
                imgElement.alt = 'PS1 Cutout for {{ source_id }}';
                btnPs1.classList.add('btn-secondary');
                btnPs1.classList.remove('btn-outline-secondary');
                btnLs.classList.add('btn-outline-secondary');
                btnLs.classList.remove('btn-secondary');
            } 
        }

        // function switchZTFImage(cutout) {
        //     var ztfCutouts = {
        //         'ztf1': "{{ url_for('static', filename='cutouts/' + ztf_cutout[0]) }}",
        //         'ztf2': "{{ url_for('static', filename='cutouts/' + ztf_cutout[1]) }}",
        //         'ztf3': "{{ url_for('static', filename='cutouts/' + ztf_cutout[2]) }}"
        //     };
        //     var imgElement = document.getElementById('ztf-image');

        //     imgElement.src = ztfCutouts[cutout];
        //     imgElement.alt = 'ZTF Cutout for {{ source_id }}';

        //    // Update button styles
        //    document.querySelectorAll('.btn-ztf').forEach(btn => {
        //         btn.classList.remove('btn-secondary');
        //         btn.classList.add('btn-outline-secondary');
        //     });
        //     document.getElementById('btn-' + cutout).classList.add('btn-secondary');
        //     document.getElementById('btn-' + cutout).classList.remove('btn-outline-secondary');
        // }
    
    function adjustIframe() {
        var smallScreenIframeLC = document.getElementById('light-curve-small');
        var largeScreenIframeLC = document.getElementById('light-curve-large');
        var smallScreenIframePP = document.getElementById('polar-plot-small');
        var largeScreenIframePP = document.getElementById('polar-plot-large');
        
        if (window.matchMedia('(min-width: 1400px)').matches) {
            smallScreenIframeLC.style.display = 'none';
            largeScreenIframeLC.style.display = 'block';
            smallScreenIframePP.style.display = 'none';
            largeScreenIframePP.style.display = 'block';
        } else {
            smallScreenIframeLC.style.display = 'block';
            largeScreenIframeLC.style.display = 'none';
            smallScreenIframePP.style.display = 'block';
            largeScreenIframePP.style.display = 'none';
        }
    }
    
    function zoomPolarPlot(zoomLevel) {
    var smallPolarPlotIframe = document.getElementById('polar-plot-small');
    var largePolarPlotIframe = document.getElementById('polar-plot-large');
    var smallLightCurveIframe = document.getElementById('light-curve-small');
    var largeLightCurveIframe = document.getElementById('light-curve-large');
    var smallLightSrc = smallLightCurveIframe.src;
    var largeLightSrc = largeLightCurveIframe.src;
    var smallSrc = smallPolarPlotIframe.src;
    var largeSrc = largePolarPlotIframe.src;

        if (zoomLevel === 'in') {
            smallPolarPlotIframe.src = smallSrc.replace(/polar_plot_out\.html/, 'polar_plot.html');
            largePolarPlotIframe.src = largeSrc.replace(/big_polar_plot_out\.html/, 'big_polar_plot.html');
            smallLightCurveIframe.src = smallLightSrc.replace(/light_curve_zoomed\.html/, 'light_curve.html');
            largeLightCurveIframe.src = largeLightSrc.replace(/big_light_curve_zoomed\.html/, 'big_light_curve.html');
        } else if (zoomLevel === 'out') {
            smallPolarPlotIframe.src = smallSrc.replace(/polar_plot\.html/, 'polar_plot_out.html');
            largePolarPlotIframe.src = largeSrc.replace(/big_polar_plot\.html/, 'big_polar_plot_out.html');
            smallLightCurveIframe.src = smallLightSrc.replace(/light_curve\.html/, 'light_curve_zoomed.html');
            largeLightCurveIframe.src = largeLightSrc.replace(/big_light_curve\.html/, 'big_light_curve_zoomed.html');
        }
    }



    document.getElementById('zoom-in').addEventListener('click', function() {
        zoomPolarPlot('in');
    });

    document.getElementById('zoom-out').addEventListener('click', function() {
        zoomPolarPlot('out');
    });

    document.getElementById('all').addEventListener('click', function() {
        zoomPolarPlot('in');
    });

    document.getElementById('detections').addEventListener('click', function() {
        zoomPolarPlot('out');
    });

    const triggerTabList = document.querySelectorAll('#myTab button');
    triggerTabList.forEach(triggerEl => {
        const tabTrigger = new bootstrap.Tab(triggerEl);

        triggerEl.addEventListener('click', event => {
            event.preventDefault();
            tabTrigger.show();
        });
    });

    // Initial check
    adjustIframe();
    // Listen for resize events
    window.addEventListener('resize', adjustIframe);
    </script>
</body>
</html>




