<!-- Build off of Base html -->
{% extends "base.html" %}

<!-- Set own title -->
{% block title %}Home Page{% endblock %}

<!-- Import styles for animated background -->
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    .alert-dark-bg {
        background-color: #333;
        color: #fff;
        border-color: #444;
    }
    .alert-dark-bg .close {
        color: #fff;
    }
</style>
{% endblock %}

{% block content %}
<!-- Setting animated background -->
<div class="background-container">
    <div class="stars"></div>
    <div class="twinkling"></div>
</div>

<!-- Container for Page Content -->
<div class="container">
    <div class="text-container">
        <h1>ZTF Transient Survey</h1>
        <p></p>
        <h4> Classifying App </h4>
        <p></p>
        <!-- Link to list of Transients -->
        <!-- <p>Start classifying transients <a href="{{ url_for('list_transients') }}">here</a>.</p> -->
        <!-- Display Login/Register if User not Logged in -->
        {% if current_user.is_authenticated %}  
        <p>Click <a href="{{ url_for('random_transient') }}">here</a> to start classifying.</p>
        <p>Classifications are based on photometric data, cutouts from different surveys, and cross match data.</p>
        <p>Please email: <a href="mailto:harlanphillips@berkeley.edu">harlanphillips@berkeley.edu</a> for any issues or to provide feedback.</p>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div> 
</div>
{% endblock %}