<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nav Bar</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .search-bar {
        margin-left: 5px;
    }
    .navbar-custom {
            background-color: #061e42; /* Replace with the actual color value for $blue-900 */
    }
</style>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <!-- Brand/Home Link -->
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>

            <!-- Toggler for responsive design -->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('list_transients') }}">Transients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('list_test_transients') }}">Training List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('random_transient') }}">Random</a>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex position-relative search-bar" method="POST" action="{{ url_for('index') }}">
                            {{ search_form.hidden_tag() }}
                            <input class="form-control me-2" id="search-bar" type="search" placeholder="Search" aria-label="Search" name="source_id">
                        </form>
                    </li>
                    {% endif %}
                </ul>

                <!-- Right-aligned navigation items -->
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">{{ current_user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_classifications') }}">Classifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa/7tG1DI4p+1NR6D5Q+W7W6p" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIyckI4fTkW1taJoV6quG7s8kb24pPHi2jzSi5J" crossorigin="anonymous"></script>
</body>
</html>